* {margin:0; padding:0;}
ul, ol {list-style:none}
body div * {overflow:hidden}

body {font-size:62.5%; font-family: Arial, Helvetica, Sans-serif;}
nav {width:100%; background:#444; position:fixed; top:0; left:0;}
nav ul li a, nav ul li a:visited, nav ul li a:active {color:#fff; text-decoration:none; font-size:12px; text-transform:uppercase; display:block; padding:8px; width:100%;}
nav ul li a:hover {background:DarkCyan}
nav ul li ul li a {background:#222; padding-left:15px}
nav ul li ul li a:hover {background:#111} 
nav ul li.open {background:DarkCyan}

.cont > a {background:#333; padding:5px; display:inline-block; color:#fff; text-decoration:none; font-size:14px; margin:10px; transition: all 120ms ease-out}
.cont > a:hover, .cont > a.focus {background:DarkCyan; padding-right:10px}

article {width:300px; margin:10px; font-size:1.2rem}


